PPG_FieldStudy/
data/raw/*.pkl

# Python artifacts
**/__pycache__/
*.py[cod]
__pycache__/

# Ambienti virtuali
venv/
.env
ecg_gen_env/

# Notebooks
.ipynb_checkpoints/

folder-structure.txt
logs/
job_ecg_gen.sh
job_ecg_gen_prova.sh
src/generation/models/*/
job_ecg_gen*.sh
*.sh